h1 {
  background-image: repeating-radial-gradient();
  text-align: center;
  height: 100px;
  padding-top: 20px;
  text-decoration-style: double;
}


.col-md-3 {
  background-color: #ABC;
  padding-bottom: 200%;
}

.col-md-9 {
  background-color: green;
  padding-bottom: 100%;
  text-align: center;
}

.btn {
  color: aqua;
  background-color: black;
}
