*{
    list-style-type: none;
}
body{
    margin: 0;
    background: transparent;
    background-color: rgba(166, 218, 247 , 0.6);
    font-family: roboto, Helvetica, sans-serif;
}
.pad{
    height: auto;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 15px;
    text-align: center;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*colors*/
.green{
    background: #4CAF50;
}
.salmon{
   background: rgba( 255, 87, 51 , 0.5);
}
.lime{
   background:  rgba(166, 177, 247 ,0.8 );
}
