h1 {
  background-image: repeating-radial-gradient();
  text-align: center;
  height: 100px;
  padding-top: 20px;
  text-decoration-style: double;
}


.col-md-3 {
  background-color: #ABC;
  padding-bottom: 200%;
}
